# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/timevault_db"

# Server Configuration
SERVER_PORT=5600
SERVER_HOST=localhost

# Client Configuration
PUBLIC_CLIENT_PORT=2100
PUBLIC_CLIENT_HOST=localhost

# Origin Configuration
ORIGIN=https://example.com
PUBLIC_ORIGIN=https://example.com

# Production URLs for CORS
PRODUCTION_CLIENT_URL=https://example.com

# Environment
NODE_ENV=development